In [1]:
import pandas as pd
import numpy as np
import re
from elasticsearch import Elasticsearch

## Pre-process Stores of IRI (Store-DB folder)

In [35]:
df_stores = pd.read_csv("../../data/POS/fr/StoreDB-IRI/store.csv", sep=";", dtype ='str')
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23702 entries, 0 to 23701
Data columns (total 5 columns):
ENSEIGNE     23701 non-null object
ADRESSE 1    23475 non-null object
ADRESSE 2    3938 non-null object
CP           23473 non-null object
VILLE        23478 non-null object
dtypes: object(5)
memory usage: 925.9+ KB

In [36]:
df_stores.dropna(subset=['ADRESSE 1','CP'], inplace=True)
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23473 entries, 0 to 23700
Data columns (total 5 columns):
ENSEIGNE     23473 non-null object
ADRESSE 1    23473 non-null object
ADRESSE 2    3938 non-null object
CP           23473 non-null object
VILLE        23473 non-null object
dtypes: object(5)
memory usage: 1.1+ MB

In [38]:
def addZeroToPostalCode(x):
    new_code = re.sub(r'^\d{4}$',('0'+str(x)), str(x))
    return new_code

In [39]:
df_stores['CP']=df_stores['CP'].apply(addZeroToPostalCode)
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23473 entries, 0 to 23700
Data columns (total 5 columns):
ENSEIGNE     23473 non-null object
ADRESSE 1    23473 non-null object
ADRESSE 2    3938 non-null object
CP           23473 non-null object
VILLE        23473 non-null object
dtypes: object(5)
memory usage: 1.1+ MB

In [40]:
df_stores.head(20)

,ENSEIGNE,ADRESSE 1,ADRESSE 2,CP,VILLE
0,SUPER U,15 RUE DES BAINS,NaN,67700,SAVERNE
1,INTERMARCHE SUPER,RUE DU GRAND PRE,NaN,50110,TOURLAVILLE
2,SHOPI,615 ROUTE DE CHAMBERY,NaN,73170,YENNE
3,CASINO,16 RUE CESAR ALEMAN,QUARTIER CATALAN,13007,MARSEILLE
4,FRANPRIX,2/6 RUE ERNEST LAVISSE,NaN,78300,POISSY
5,INTERMARCHE CONTACT,1000 BD. JEAN-BAPTISTE ABEL,NaN,83000,TOULON
6,INTERMARCHE SUPER,40 ROUTE NATIONALE,NaN,59820,GRAVELINES
7,INTERMARCHE HYPER,AVENUE GEORGES CLEMENCEAU,RUE LOUIS MIQUEL,22400,LAMBALLE
8,ATAC,6 RUE EUGENE CUSENIER,"ZA ""AU MALADE""",25290,ORNANS
9,SUPER U,RUE DE LA CHAUSSEE,NaN,45200,MONTARGIS
10,INTERMARCHE SUPER,ROUTE DE CHARTRES,LES GARENNES,28200,CHATEAUDUN
11,SIMPLY MARKET,AVENUE DES FRERES ROBINSON,NaN,33700,MERIGNAC
12,INTERMARCHE SUPER,15 ROUTE DE LYON,NaN,38000,GRENOBLE
13,INTERMARCHE SUPER,ZA DES MOLETONS,NaN,43120,MONISTROL SUR LOIRE
14,CARREFOUR MARKET,88 RUE DU FAUBOURG MADELEINE,NaN,45000,ORLEANS
15,CASINO,CC SAINT GEORGES,PLACE OCCITANE,31000,TOULOUSE
16,ATAC,134 AVENUE ARISTIDE BRIAND,NaN,68200,MULHOUSE
17,INTERMARCHE SUPER,6 CHEMIN DE LA GARE,NaN,07300,SAINT JEAN DE MUZOLS
18,INTERMARCHE SUPER,ROUTE DE BEAURAING,NaN,08600,GIVET
19,SUPER U,6 RUE FRANCOIS TADDEI,NaN,13007,MARSEILLE

In [41]:
df_stores = df_stores[df_stores['ADRESSE 1'] != 'ADRESSE BIDON ILD']
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23414 entries, 0 to 23700
Data columns (total 5 columns):
ENSEIGNE     23414 non-null object
ADRESSE 1    23414 non-null object
ADRESSE 2    3938 non-null object
CP           23414 non-null object
VILLE        23414 non-null object
dtypes: object(5)
memory usage: 1.1+ MB

In [42]:
df_stores.to_csv("../../data/POS/fr/StoreDB-IRI/store_cleaned.csv", index=False)

## Export index ES to csv (google_places)

In [171]:
def connect_elasticsearch():
    global client
    _es = None
    _es = Elasticsearch([{'host': '192.168.1.10', 'port': 9200}], http_auth=('aboutgoods', 'Vintage*'))
    if _es.ping():
        print('Connected to ElasticSearch!')
    else:
        print('Cannot connect to ElasticSearch!')
    client = _es
    return client

In [172]:
client = connect_elasticsearch()

Connected to ElasticSearch!

In [173]:
# Replace the following Query with your own Elastic Search Query
res = client.search(index="ids_google_places", body=
	{"query": 
    {
	    "match_all": {}
    }
}, size=7031)

In [174]:
hits = res['hits']['hits']
sources = [x['_source'] for x in hits]

In [175]:
df = pd.DataFrame(sources)

In [176]:
df_google_results= pd.DataFrame(df['googleResult'].tolist())
df_google_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7031 entries, 0 to 7030
Data columns (total 13 columns):
formatted_address     7031 non-null object
geometry              7031 non-null object
icon                  7031 non-null object
id                    7031 non-null object
name                  7031 non-null object
opening_hours         6162 non-null object
permanently_closed    623 non-null object
photos                5854 non-null object
place_id              7031 non-null object
price_level           27 non-null float64
rating                6266 non-null float64
reference             7031 non-null object
types                 7031 non-null object
dtypes: float64(2), object(11)
memory usage: 714.2+ KB

In [168]:
# create location in the form: (lon,lat)
def parse_location(x):
    lat = x['lat']
    lon = x['lng']
    return "{0},{1}".format(lat,lon)

In [192]:
df_google_old = preprocess_google_places(df_google_results)
df_google_old.head()

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1916 entries, 0 to 7017
Data columns (total 8 columns):
formatted_address    1916 non-null object
uid                  1916 non-null object
name                 1916 non-null object
photos               1779 non-null object
place_id             1916 non-null object
price_level          15 non-null float64
google_type          1916 non-null object
location             1916 non-null object
dtypes: float64(1), object(7)
memory usage: 134.7+ KB

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,formatted_address,uid,name,photos,place_id,price_level,google_type,location
0,"Rue Georges Pompidou, 02100 Saint-Quentin, France",1d82928e727ef87bc36129031a4d9ba222cccef0,Leader Price,"[{'height': 3984, 'html_attributions': ['<a hr...",ChIJ-9GIEJsY6EcRbOSwsY-qrKc,NaN,"[supermarket, grocery_or_supermarket, store, f...","49.8623231,3.2905382"
1,"Route de Ouistreham, 14970 Saint-Aubin-d'Arque...",c55865115a5f3c2697923e8b6df27db1a4b58627,Leader Price,"[{'height': 1920, 'html_attributions': ['<a hr...",ChIJ6X69z-tmCkgRUYdTnpxywgQ,NaN,"[supermarket, grocery_or_supermarket, store, f...","49.2633901,-0.2809238"
2,"28 Rue Rolland Vico, 14280 Saint-Germain-la-Bl...",3fe1fc36c8750bc9a8dd7d68ff239592bb9cb6a8,Leader Price,"[{'height': 1536, 'html_attributions': ['<a hr...",ChIJ-fhb-jhDCkgRfT_UOhQJvvk,NaN,"[supermarket, grocery_or_supermarket, store, f...","49.1892454,-0.4101137"
10,"CHEMIN DE LA VOILERIE - PLAN DE CAMPAGNE, 1317...",e043bc5bd0be52d38bf83a33153b3dc4d678d8bd,Leader Price,"[{'height': 1836, 'html_attributions': ['<a hr...",ChIJm7liGqDryRIR4Q73tgyF87w,NaN,"[supermarket, grocery_or_supermarket, store, f...","43.4159485,5.3509117"
13,"Z.A. de la Plaine des Bois, 64300 Biron, France",9a06365f543d023ed4cf79c138897d009805cdbb,Leader Price,"[{'height': 3328, 'html_attributions': ['<a hr...",ChIJyeGSGafyVg0RvEE5ZXPUNZc,NaN,"[supermarket, grocery_or_supermarket, store, f...","43.46765449999999,-0.7510006"

In [196]:
df_google_old.drop(columns=['price_level'], inplace=True)

In [191]:
def preprocess_google_places(df):
    # keep unique id
    df_unique_id= df.drop_duplicates(subset=['place_id','id'])
    #fill NAN with 0 in "permanently_closed"
    values = {'permanently_closed': 0}
    df_unique_id.fillna(values, inplace=True)
    # remove those who are closed
    df_unique_id_open = df_unique_id[df_unique_id['permanently_closed'] != True]
    #df_unique_id_open.info()
    
    # extract location as "location": (lat, lon) - format of geo_point of Elastic
    df_unique_id_open['location'] = df_unique_id_open['geometry'].apply(lambda x: x['location'])
    df_unique_id_open['location'] = df_unique_id_open['location'].apply(parse_location)
    
    #rename and drop
    df_unique_id_open.drop(columns=['geometry', 'icon', 'permanently_closed', 'reference', 'opening_hours', 'rating'], inplace=True)
    df_renamed = df_unique_id_open.rename(columns={"types": "google_type", "id":"uid"})
    #df_renamed.info()
    # clean not supermarket
    df_renamed['supermarket'] = df_renamed['google_type'].apply(lambda x: True if 'supermarket' in x or 'grocery_or_supermarket' in x else False)
    
    df_google_supermarket = df_renamed[df_renamed['supermarket'] == True]
    #df_google_supermarket.info()
    #clean not France
    df_google_supermarket['France'] = df_google_supermarket['formatted_address'].apply(lambda x: True if 'France' in x else False)
    df_google_supermarket = df_google_supermarket[df_google_supermarket['France'] == True]
   
    # drop columns
    df_google_supermarket.drop(columns=['France', 'supermarket'], inplace=True)
    df_google_supermarket.info()
    
    return df_google_supermarket

### new_google_places

In [108]:
# Replace the following Query with your own Elastic Search Query
res_new = client.search(index="ids_new_google_places", body=
	{"query": 
    {
	    "match_all": {}
    }
}, size=1000)

In [109]:
hits_new = res_new['hits']['hits']
sources_new = [x['_source'] for x in hits_new]

In [110]:
df_new = pd.DataFrame(sources_new)
df_new_google_results= pd.DataFrame(df_new['googleResult'].tolist())
df_new_google_results['phone'] = df_new['phone']
df_new_google_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 14 columns):
formatted_address     120 non-null object
geometry              120 non-null object
icon                  120 non-null object
id                    120 non-null object
name                  120 non-null object
opening_hours         116 non-null object
permanently_closed    3 non-null object
photos                112 non-null object
place_id              120 non-null object
plus_code             1 non-null object
rating                116 non-null float64
reference             120 non-null object
types                 120 non-null object
phone                 48 non-null object
dtypes: float64(1), object(13)
memory usage: 13.2+ KB

In [193]:
df_new_google = preprocess_google_places(df_new_google_results)
df_new_google.head()

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/pandas/core/generic.py:5434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 119
Data columns (total 9 columns):
formatted_address    100 non-null object
uid                  100 non-null object
name                 100 non-null object
photos               97 non-null object
place_id             100 non-null object
plus_code            1 non-null object
google_type          100 non-null object
phone                39 non-null object
location             100 non-null object
dtypes: object(9)
memory usage: 7.8+ KB

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,formatted_address,uid,name,photos,place_id,plus_code,google_type,phone,location
0,"Route de Fos sur Mer Centre Commercial les, Ch...",159bc724b7feb66ecbf053866f53c402103b21a2,Géant Casino,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJBxhHbYIcthIRN6b-gFN8wbY,NaN,"[supermarket, grocery_or_supermarket, store, f...",0442411400,"43.4971751,4.9770878"
1,"Route de Laval, 72300 Sablé-sur-Sarthe, France",e395c7a2227ccb54a923b124c88dd7d432e65023,Super U,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJD7IYQztHCEgROccwOr1jgx0,NaN,"[supermarket, grocery_or_supermarket, store, f...",0243551010,"47.85161,-0.3518"
2,"130 rue Du Grand But Boîte Postale, 129, 59160...",dfd1ecc7c78d3e972a43e723170a15467b99b72e,Carrefour,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJDThMsVfVwkcRwU5c7RtYjGM,NaN,"[supermarket, bank, car_rental, travel_agency,...",None,"50.6513748,2.9786365"
3,"Centre Commercial 32 Route Nationale, 02300 Vi...",a00b2de7d9376feae9815ff0c949299b4066adf2,Auchan Viry Noureuil,"[{'height': 1080, 'html_attributions': ['<a hr...",ChIJrYEb9LJq6EcRBdRx8OszPoo,NaN,"[supermarket, grocery_or_supermarket, store, f...",0323578260,"49.6432278,3.258766"
4,"20 Rue de la 1ère Armée, 68480 Ferrette, France",b1a8765ceb80d4ac48b45289d1c8d8d76f50920e,Simply Market Ferrette,"[{'height': 2976, 'html_attributions': ['<a hr...",ChIJM0jsYo7skUcRLe1wLqkuKd4,NaN,"[supermarket, bakery, grocery_or_supermarket, ...",0389403176,"47.5001478,7.308362199999999"

In [195]:
df_new_google.drop(columns=['plus_code'], inplace=True)

### Concatenate 2 dataframes of Google , keep only supermarkets in France

In [198]:
df_merged = pd.concat([df_new_google,df_google_old])
df_merged.info()
df_merged.drop_duplicates(subset=['place_id'], inplace=True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2016 entries, 0 to 7017
Data columns (total 8 columns):
formatted_address    2016 non-null object
google_type          2016 non-null object
location             2016 non-null object
name                 2016 non-null object
phone                39 non-null object
photos               1876 non-null object
place_id             2016 non-null object
uid                  2016 non-null object
dtypes: object(8)
memory usage: 141.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1959 entries, 0 to 7017
Data columns (total 8 columns):
formatted_address    1959 non-null object
google_type          1959 non-null object
location             1959 non-null object
name                 1959 non-null object
phone                39 non-null object
photos               1819 non-null object
place_id             1959 non-null object
uid                  1959 non-null object
dtypes: object(8)
memory usage: 137.7+ KB

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [200]:
df_merged.to_csv("../../data/POS/fr/pos_fr_google_15042019.csv", index=False)

## Extract ids_store index and verify

In [83]:
client = connect_elasticsearch()
res = client.search(index="ids_store", body=
	{"query": 
    {
	    "match_all": {}
    }
}, size=10000)

Connected to ElasticSearch!

In [84]:
hits = res['hits']['hits']
sources = [x['_source'] for x in hits]

In [85]:
df_ids_store=pd.DataFrame(sources)
df_ids_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2614 entries, 0 to 2613
Data columns (total 7 columns):
details            2274 non-null object
details.address    340 non-null object
details.city       340 non-null object
details.cp         340 non-null object
details.phone      340 non-null object
name               2614 non-null object
store              2614 non-null object
dtypes: object(7)
memory usage: 143.0+ KB

In [86]:
df_from_annuaire = df_ids_store.dropna(subset=['details.city'])
df_from_annuaire.drop(columns=['details','name'], inplace=True)
df_from_annuaire.rename(columns={'details.address':'address', 'details.city':'city', 
                                 'details.cp':'postal_code', 'details.phone':'phone',
                                'store':'name'}, inplace=True)
df_from_annuaire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340 entries, 469 to 2613
Data columns (total 5 columns):
address        340 non-null object
city           340 non-null object
postal_code    340 non-null object
phone          340 non-null object
name           340 non-null object
dtypes: object(5)
memory usage: 15.9+ KB

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [87]:
df_from_annuaire['address'] = df_from_annuaire['address'].apply(lambda x: x.upper())
df_from_annuaire['city'] = df_from_annuaire['city'].apply(lambda x: x.upper())
df_from_annuaire.head()

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,address,city,postal_code,phone,name
469,RUE DE LA BARONNIE,ST LUBIN DES JONCHERETS,28350,0232582334,CENTRE LECLERC AVREDIS COMMERCE INDEP
470,57 RUE DE CHARTRES,LE PERRAY EN YVELINES,78610,0134846428,SIMPLY MARKET
471,20 AVENUE GAMBETTA,MAINVILLIERS,28300,0237215667,INTERMARCHE
472,93 ROUTE GENCAY,POITIERS,86000,0549422000,LOCATION ELECLERC
473,40 AVENUE 8 MAI 1945,BEAUVAIS,60000,0344055035,INTERMARCHE

In [88]:
# save to csv
df_from_annuaire.to_csv("../../data/POS/fr/pos_scrapped_annuaire.csv", index=False)

In [26]:
df_from_csv = df_ids_store.dropna(subset=['details'])
df_from_csv.drop(columns=['details.address','details.city', 'details.cp', 'details.phone'], inplace=True)
df_from_csv.head()

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,details,name,store
0,"{'address': '2-6 Place Carnot', 'phone': '0323...",LEADER PRICE HIRSON,Leader Price
1,"{'address': 'Rue Georges Pompidou', 'phone': '...",LEADER PRICE SAINT-QUENTIN,Leader Price
2,"{'address': 'AVENUE DE LA CROISETTE', 'phone':...",LEADER PRICE VILLERS COTTERETS,Leader Price
3,"{'address': 'Lieu dit la Ginestière', 'phone':...",LEADER PRICE CARROS,Leader Price
4,{'address': '64 AVENUE DENIS SEMERIA ET ANGLE ...,LEADER PRICE EXPRESS NICE,Leader Price

In [35]:
df_from_csv_details = pd.DataFrame(df_from_csv['details'].tolist())
df_from_csv_details.info()
df_from_csv_details['name'] =df_from_csv['store'] 
df_from_csv_details.drop(columns=['country_code','insee','region_code','country'], inplace=True)
df_from_csv_details['address'] = df_from_csv_details['address'].apply(lambda x: x.upper())
df_from_csv_details.rename(columns= {'cp':'postal_code'}, inplace=True)
df_from_csv_details.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2274 entries, 0 to 2273
Data columns (total 10 columns):
address         2274 non-null object
city            2274 non-null object
country         2274 non-null object
country_code    2274 non-null object
cp              2274 non-null object
department      2274 non-null object
insee           2274 non-null object
phone           2274 non-null object
region          2274 non-null object
region_code     2274 non-null object
dtypes: object(10)
memory usage: 177.7+ KB

,address,city,postal_code,department,phone,region,name
0,2-6 PLACE CARNOT,MARLE,02250,Aisne,0323970704,Picardie,Leader Price
1,RUE GEORGES POMPIDOU,BRASLES,02400,Aisne,0323085905,Picardie,Leader Price
2,AVENUE DE LA CROISETTE,TERGNIER,02700,Aisne,0323728551,Picardie,Leader Price
3,LIEU DIT LA GINESTIÈRE,NICE,06000,Alpes-Maritimes,0493292959,Provence-Alpes-Côte d'Azur,Leader Price
4,64 AVENUE DENIS SEMERIA ET ANGLE BOULEVARD ST ...,NICE,06000,Alpes-Maritimes,0493890523,Provence-Alpes-Côte d'Azur,Leader Price
5,98 RUE DE LA REPUBLIQUE,AUBENAS,07200,Ardèche,0475490250,Rhône-Alpes,Leader Price
6,PLACE DE LA REPUBLIQUE,LAMASTRE,07270,Ardèche,0475301069,Rhône-Alpes,Leader Price
7,Z.I LABARRE,REVIN,08500,Ardennes,0561654927,Champagne-Ardenne,Leader Price
8,56 AV. ROGER SALENGRO,MARSEILLE,13000,Bouches-du-Rhône,0442742925,Provence-Alpes-Côte d'Azur,Leader Price
9,C.C. LES VALLINS,MARSEILLE,13000,Bouches-du-Rhône,0442050191,Provence-Alpes-Côte d'Azur,Leader Price

### Scrap annuaire for recheck

In [51]:
# here
from bs4 import BeautifulSoup
import requests
import time

In [67]:
#complete_pos = []
phones = [x['phone'] for _,x in df_from_csv_details.iterrows()]
#print(phones)

for i, phone in enumerate(phones):
    if i > 1999:
        #print(phone)
        page = requests.get("https://www.annuaire.tel/{}".format(phone))
        soup = BeautifulSoup(page.content, 'html.parser')
        #print(soup.prettify())
        name = soup.find('a', class_='url fn')
        if name != None:
            #print(name.get_text())
            address = soup.find('div', class_='street-address').get_text()
            #print(address)
            postal_code = soup.find('span', class_='postal-code').get_text()
            #print(postal_code)
            city = soup.find('span', class_='locality').get_text()
            #print(city)
            complete_pos.append({"name":name.get_text(), "postal_code": postal_code , "address":address, "city":city, "phone":phone})
        time.sleep(0.3)

In [64]:
print(len(phones))

2274

In [68]:
print(len(complete_pos))

2142

In [69]:
df_stores_checked_1=pd.DataFrame(complete_pos)
df_stores_checked_1['city'] = df_stores_checked_1['city'].apply(lambda x: x.upper())
df_stores_checked_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142 entries, 0 to 2141
Data columns (total 5 columns):
address        2142 non-null object
city           2142 non-null object
name           2142 non-null object
phone          2142 non-null object
postal_code    2142 non-null object
dtypes: object(5)
memory usage: 83.8+ KB

In [71]:
df_checked_complete = pd.concat([df_stores_checked,df_stores_checked_1])
df_checked_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2161 entries, 0 to 2141
Data columns (total 5 columns):
address        2161 non-null object
city           2161 non-null object
name           2161 non-null object
phone          2161 non-null object
postal_code    2161 non-null object
dtypes: object(5)
memory usage: 101.3+ KB

In [79]:
df_checked_complete.head()

,address,city,name,phone,postal_code
0,2 PLACE CARNOT,HIRSON,LEADER PRICE,0323970704,02500
1,RUE GEORGES POMPIDOU,ST QUENTIN,LEADER PRICE,0323085905,02100
2,AVENUE CROISETTE,VILLERS COTTERETS,LEADER PRICE,0323728551,02600
3,5 RUE ARGILAC,CARROS,LEADER PRICE,0493292959,06510
4,64 AVENUE DENIS SEMERIA,NICE,PETIT CASINO,0493890523,06000

In [80]:
df_checked_complete.to_csv("../../data/POS/fr/checked_shop_entries_2.csv", index=False)

### Merge checked_annuaire and scrapped_pure from IDS_Store index

In [89]:
df_merged_inplace = pd.concat([df_from_annuaire,df_checked_complete])
df_merged_inplace.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2501 entries, 469 to 2141
Data columns (total 5 columns):
address        2501 non-null object
city           2501 non-null object
name           2501 non-null object
phone          2501 non-null object
postal_code    2501 non-null object
dtypes: object(5)
memory usage: 117.2+ KB

/Users/olga/anaconda3/envs/text_classif/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':

In [91]:
df_merged_inplace.drop_duplicates(subset=['address','city'], inplace=True)
df_merged_inplace.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2490 entries, 469 to 2141
Data columns (total 5 columns):
address        2490 non-null object
city           2490 non-null object
name           2490 non-null object
phone          2490 non-null object
postal_code    2490 non-null object
dtypes: object(5)
memory usage: 116.7+ KB

In [92]:
df_merged_inplace.to_csv("../../data/POS/fr/shop_entries_verified.csv", index=False)

## Pre-process shop_entries.csv

In [63]:
df_shop = pd.read_csv("../../data/POS/fr/shop_entries.csv", sep=";")
df_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 27 columns):
id                  2332 non-null int64
name                2332 non-null object
group_id            2332 non-null int64
logo                2332 non-null object
shop_id             2332 non-null int64
shop_name           2332 non-null object
adress              2332 non-null object
city_id             2332 non-null int64
enseigne_id         2332 non-null int64
telephone           2324 non-null float64
postal_code         0 non-null float64
city_id.1           2332 non-null int64
insee               2332 non-null object
city_name           2332 non-null object
code_postal         2332 non-null int64
departement_id      2332 non-null int64
departement_id.1    2332 non-null int64
postal_code.1       2332 non-null object
department_name     2332 non-null object
region_id           2332 non-null int64
region_id.1         2332 non-null int64
region_code         2332 non-null int64
region_name         2332 non-null object
country_id          2332 non-null int64
country_id.1        2332 non-null int64
code                2332 non-null object
country_name        2332 non-null object
dtypes: float64(2), int64(14), object(11)
memory usage: 492.0+ KB

In [64]:
# drop some columns
df_shop.drop(columns = ['country_name', 'code', 'country_id', 'country_id.1', 'insee',
                        'departement_id', 'departement_id.1', 'postal_code.1', 
                        'region_id', 'region_id.1', 'region_code', 'shop_name', 'postal_code',
                       'enseigne_id', 'group_id', 'shop_id', 'logo', 'city_id', 'city_id.1', 'id'], inplace=True)
df_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 7 columns):
name               2332 non-null object
adress             2332 non-null object
telephone          2324 non-null float64
city_name          2332 non-null object
code_postal        2332 non-null int64
department_name    2332 non-null object
region_name        2332 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 127.6+ KB

In [65]:
df_shop.rename(columns={'code_postal': 'postal_code', 'adress': 'address', 'telephone':'phone'}, inplace=True)

### Phone processing

In [5]:
def addZeroToPhone(x):
    new_phone = re.sub(r'^\d{9}$',('0'+str(x)), str(x))
    return new_phone

In [67]:
# fill na
df_shop['phone']=df_shop['phone'].fillna('0')
# cast to int (remove decimal digits)
df_shop['phone']=df_shop['phone'].astype('int')
df_shop.info()
df_shop.head()
# add zero to phone
df_shop['phone']=df_shop['phone'].apply(lambda x: addZeroToPhone(x))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2332 entries, 0 to 2331
Data columns (total 7 columns):
name               2332 non-null object
address            2332 non-null object
phone              2332 non-null int64
city_name          2332 non-null object
postal_code        2332 non-null int64
department_name    2332 non-null object
region_name        2332 non-null object
dtypes: int64(2), object(5)
memory usage: 127.6+ KB

,name,address,phone,city_name,postal_code,department_name,region_name
0,Leader Price,Z.I des Chartinières Route de Jons,437269318,NANTUA,1130,Ain,Rhône-Alpes
1,Leader Price,C. Cial Pierre Blanche - 5 Av. du Maréchal de ...,450599610,CESSY,1170,Ain,Rhône-Alpes
2,Leader Price,4 RUE PAUL PAINLEVE,474750260,BELLEY,1300,Ain,Rhône-Alpes
3,Leader Price,GRANDE RUE,474307122,ST TRIVIER DE COURTES,1560,Ain,Rhône-Alpes
4,Leader Price,2-6 Place Carnot,323970704,MARLE,2250,Aisne,Picardie

In [39]:
def addZeroToPostalCode(x):   
    new_code = str(x)
    new_code = re.sub(r'^\d{4}$', ('0'+str(x)), str(x))
    return new_code

In [53]:
# correct postal code to have 5 digits, so to add 0 in front
df_shop['postal_code']=df_shop['postal_code'].apply(lambda x: addZeroToPostalCode(x))

In [71]:
df_shop['address']=df_shop['address'].apply(lambda x: x.upper())
df_shop['department_name']=df_shop['department_name'].apply(lambda x: x.upper())
df_shop.head()

,name,address,phone,city_name,postal_code,department_name,region_name
0,Leader Price,Z.I DES CHARTINIÈRES ROUTE DE JONS,0437269318,NANTUA,1130,AIN,Rhône-Alpes
1,Leader Price,C. CIAL PIERRE BLANCHE - 5 AV. DU MARÉCHAL DE ...,0450599610,CESSY,1170,AIN,Rhône-Alpes
2,Leader Price,4 RUE PAUL PAINLEVE,0474750260,BELLEY,1300,AIN,Rhône-Alpes
3,Leader Price,GRANDE RUE,0474307122,ST TRIVIER DE COURTES,1560,AIN,Rhône-Alpes
4,Leader Price,2-6 PLACE CARNOT,0323970704,MARLE,2250,AISNE,Picardie

In [77]:
df_shop.to_csv("../../data/POS/fr/shop_cleaned.csv", index=False)

### Pre-process ABACUS POS

In [203]:
df_abacus = pd.read_csv("../../data/POS/es/Abacus_POS.csv")
df_abacus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 861683 entries, 0 to 861682
Data columns (total 5 columns):
geometry                      861683 non-null object
name                          861683 non-null object
address                       861683 non-null object
international_phone_number    655495 non-null object
google_type                   861683 non-null object
dtypes: object(5)
memory usage: 32.9+ MB

In [206]:
def parse_geometry(x):
    # 'geometry' is: (lon, lat)
    # we need 'location': lat,lon
    x=re.sub(r'\(', '',x)
    x=re.sub(r'\)','',x)
    lat = x.split(', ')[1]
    lon = x.split(', ')[0]
    location =  "{0},{1}".format(lat,lon)
    return location

In [207]:
df_abacus['location']=df_abacus['geometry'].apply(parse_geometry)
df_abacus.head()

,geometry,name,address,international_phone_number,google_type,location
0,"(-3.6896359, 40.4463695)",Cafetería Jaialai,"Calle de Joaquín Costa, 7, 28002 Madrid, Spain",+34 915 61 34 27,"cafe,food,point_of_interest,establishment","40.4463695,-3.6896359"
1,"(2.2662764, 41.5453514)",Casal Dels Avis,"Av. de la Llibertat, 3, 08170 Montornès del Va...",NaN,"cafe,food,point_of_interest,establishment","41.5453514,2.2662764"
2,"(2.2145629, 41.5396836)",Sweet Coffee,"Carrer de Gaietà Ventalló, 33, 08100 Mollet de...",+34 935 70 17 39,"cafe,bar,restaurant,food,point_of_interest,est...","41.5396836,2.2145629"
3,"(2.260584, 41.557781)",Cafés Vitoria,"Carrer Montmeló, nº 1 nave 15, 08170 Montornès...",+34 933 46 38 58,"cafe,food,point_of_interest,establishment","41.557781,2.260584"
4,"(0.4380758, 41.0519432)",Pastelería Pujols,"Calle Santo Domingo, 7, 43780 Gandesa, Tarrago...",+34 977 42 00 83,"cafe,food,point_of_interest,establishment","41.0519432,0.4380758"

In [209]:
df_abacus.rename(columns={'international_phone_number':'phone'}, inplace=True)
df_abacus.drop(columns=['geometry'], inplace=True)
df_abacus.head()

,name,address,phone,google_type,location
0,Cafetería Jaialai,"Calle de Joaquín Costa, 7, 28002 Madrid, Spain",+34 915 61 34 27,"cafe,food,point_of_interest,establishment","40.4463695,-3.6896359"
1,Casal Dels Avis,"Av. de la Llibertat, 3, 08170 Montornès del Va...",NaN,"cafe,food,point_of_interest,establishment","41.5453514,2.2662764"
2,Sweet Coffee,"Carrer de Gaietà Ventalló, 33, 08100 Mollet de...",+34 935 70 17 39,"cafe,bar,restaurant,food,point_of_interest,est...","41.5396836,2.2145629"
3,Cafés Vitoria,"Carrer Montmeló, nº 1 nave 15, 08170 Montornès...",+34 933 46 38 58,"cafe,food,point_of_interest,establishment","41.557781,2.260584"
4,Pastelería Pujols,"Calle Santo Domingo, 7, 43780 Gandesa, Tarrago...",+34 977 42 00 83,"cafe,food,point_of_interest,establishment","41.0519432,0.4380758"

In [210]:
df_abacus.to_csv("../../data/POS/es/Abacus_POS_processed.csv", index=False)

# pos_fr_google with phones (file of Pierre)

In [57]:
df_with_phones = pd.read_csv("../../data/POS/fr/pos_fr_20190501.csv", sep=";",dtype ='str')
df_with_phones.head()

,formatted_address,google_type,location,name,phone,photos,place_id,uid
0,"Route de Fos sur Mer Centre Commercial les, Ch...","['supermarket', 'grocery_or_supermarket', 'sto...","43.4971751,4.9770878",Geant Casino,0442411400,"[{'height': 2988, 'html_attributions': ['<a hr...",ChIJBxhHbYIcthIRN6b-gFN8wbY,159bc724b7feb66ecbf053866f53c402103b21a2
1,"Route de Laval, 72300 Sablé-sur-Sarthe, France","['supermarket', 'grocery_or_supermarket', 'sto...","47.85161,-0.3518",Super U et drive,0243551010,"[{'height': 3120, 'html_attributions': ['<a hr...",ChIJD7IYQztHCEgROccwOr1jgx0,e395c7a2227ccb54a923b124c88dd7d432e65023
2,"130 rue Du Grand But Boîte Postale, 129, 59160...","['supermarket', 'bank', 'car_rental', 'travel_...","50.6513748,2.9786365",Carrefour,0826253235m,"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJDThMsVfVwkcRwU5c7RtYjGM,dfd1ecc7c78d3e972a43e723170a15467b99b72e
3,"Centre Commercial, Route Nationale 32, 02300 V...","['supermarket', 'grocery_or_supermarket', 'sto...","49.6432278,3.258766",Auchan,0323578260,"[{'height': 1080, 'html_attributions': ['<a hr...",ChIJrYEb9LJq6EcRBdRx8OszPoo,a00b2de7d9376feae9815ff0c949299b4066adf2
4,"20 Rue de la 1ère Armée, 68480 Ferrette, France","['supermarket', 'bakery', 'grocery_or_supermar...","47.5001478,7.308362199999999",Auchan Supermarche,0389403176,"[{'height': 2976, 'html_attributions': ['<a hr...",ChIJM0jsYo7skUcRLe1wLqkuKd4,b1a8765ceb80d4ac48b45289d1c8d8d76f50920e

In [58]:
df_with_phones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1959 entries, 0 to 1958
Data columns (total 8 columns):
formatted_address    1959 non-null object
google_type          1959 non-null object
location             1959 non-null object
name                 1959 non-null object
phone                1959 non-null object
photos               1819 non-null object
place_id             1959 non-null object
uid                  1959 non-null object
dtypes: object(8)
memory usage: 122.5+ KB

In [59]:
df_with_phones = df_with_phones[df_with_phones['phone'] != 'closed']
df_with_phones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1941 entries, 0 to 1958
Data columns (total 8 columns):
formatted_address    1941 non-null object
google_type          1941 non-null object
location             1941 non-null object
name                 1941 non-null object
phone                1941 non-null object
photos               1809 non-null object
place_id             1941 non-null object
uid                  1941 non-null object
dtypes: object(8)
memory usage: 136.5+ KB

In [64]:
def process_phones(x):
    phone = x
    match = re.match("\d+m", phone)
    if match:
        phone=""
    if x == "phone_missing":
        phone=""
    match2 = re.match("redundant", phone)
    if match2:
        phone = "delete"
    match3 = re.match("duplicate", phone)
    if match3:
        phone = "delete"
    match4 = re.match("\d+d", phone)
    if match4:
        phone = re.sub("d",'', phone)
        print(phone)
    return phone

In [66]:
df_with_phones['phone'] = df_with_phones['phone'].apply(process_phones)

In [67]:
df_with_phones = df_with_phones[df_with_phones['phone'] != 'phone_missing']
df_with_phones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1941 entries, 0 to 1958
Data columns (total 8 columns):
formatted_address    1941 non-null object
google_type          1941 non-null object
location             1941 non-null object
name                 1941 non-null object
phone                1941 non-null object
photos               1809 non-null object
place_id             1941 non-null object
uid                  1941 non-null object
dtypes: object(8)
memory usage: 136.5+ KB

In [68]:
df_with_phones = df_with_phones[df_with_phones['phone'] != 'delete']
df_with_phones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1922 entries, 0 to 1958
Data columns (total 8 columns):
formatted_address    1922 non-null object
google_type          1922 non-null object
location             1922 non-null object
name                 1922 non-null object
phone                1922 non-null object
photos               1792 non-null object
place_id             1922 non-null object
uid                  1922 non-null object
dtypes: object(8)
memory usage: 135.1+ KB

In [69]:
df_with_phones.to_csv("../../data/POS/fr/pos_fr_google_06052019.csv", index=False)

# Keep zeros in phones (pos_it)

In [13]:
df_pos = pd.read_csv("../../data/POS/it/pos_it.csv",dtype ='str')
df_pos.head(10)

,name,address,phone,location
0,CARREFOUR EXPRESS,Viale Achille Marazza 28 - 28021 Borgomanero (NO),322844430,"45.69997,8.46541"
1,CARREFOUR EXPRESS,Via Nino Bixio 11 - 16043 Chiavari (GE),185311979,"44.31505,9.32692"
2,CARREFOUR COLLEGNO,Via Spagna 10 - 10093 Collegno (TO),114538368,"45.10089,7.58995"
3,CARREFOUR MARKET,Via Milano 7 - 23854 Olginate (LC),341605483,"45.78167,9.42423"
4,CARREFOUR MARKET - SUPERMERCATO,Largo Dello Zodiaco - 00061 Anguillara Sabazia...,699607148,"42.09120,12.27323"
5,CARREFOUR EXPRESS,Via Piero Gobetti 20 - 16145 Genova (GE),103627424,"44.39519,8.96169"
6,CARREFOUR MARKET,Via Emilia - 27045 Casteggio (PV),383890201,"45.01778,9.13272"
7,CARREFOUR EXPRESS - SUPERMERCATO,Via Quattro Novembre - 00069 Trevignano Romano...,69999286,"42.15722,12.24371"
8,CARREFOUR MARKET - SUPERMERCATO,Via Unità D'Italia 11 - 25015 San Martino Dell...,3459254279,"45.43605,10.60390"
9,CARREFOUR CENTRO COMMERCIALE LE SORGENTI,Viale Lame 10 - 03100 Frosinone (FR),775292806,"41.62092,13.28260"

In [14]:
def addZeroToItalianPhone(x):
    new_phone = re.sub(r'^\d{7,}$',('0'+str(x)), str(x))
    return new_phone

In [15]:
df_pos['phone']=df_pos['phone'].apply(lambda x: addZeroToItalianPhone(x))
df_pos.head(10)

,name,address,phone,location
0,CARREFOUR EXPRESS,Viale Achille Marazza 28 - 28021 Borgomanero (NO),0322844430,"45.69997,8.46541"
1,CARREFOUR EXPRESS,Via Nino Bixio 11 - 16043 Chiavari (GE),0185311979,"44.31505,9.32692"
2,CARREFOUR COLLEGNO,Via Spagna 10 - 10093 Collegno (TO),0114538368,"45.10089,7.58995"
3,CARREFOUR MARKET,Via Milano 7 - 23854 Olginate (LC),0341605483,"45.78167,9.42423"
4,CARREFOUR MARKET - SUPERMERCATO,Largo Dello Zodiaco - 00061 Anguillara Sabazia...,0699607148,"42.09120,12.27323"
5,CARREFOUR EXPRESS,Via Piero Gobetti 20 - 16145 Genova (GE),0103627424,"44.39519,8.96169"
6,CARREFOUR MARKET,Via Emilia - 27045 Casteggio (PV),0383890201,"45.01778,9.13272"
7,CARREFOUR EXPRESS - SUPERMERCATO,Via Quattro Novembre - 00069 Trevignano Romano...,069999286,"42.15722,12.24371"
8,CARREFOUR MARKET - SUPERMERCATO,Via Unità D'Italia 11 - 25015 San Martino Dell...,03459254279,"45.43605,10.60390"
9,CARREFOUR CENTRO COMMERCIALE LE SORGENTI,Viale Lame 10 - 03100 Frosinone (FR),0775292806,"41.62092,13.28260"

In [16]:
df_pos.to_csv("../../data/POS/it/pos_it_13052019.csv", index=False)